# This is local configuration for avoiding co-working conflict
# Copy this file to local.mk and edit

# Make variable
VISDOM_PORT=8096
GPU_ID=1
TRAINING_SIZE=9000
TEST_SIZE=1000

# Shell Environment
export FACEDETECT_MODEL=cnn
#export FACEDETECT_MODEL=hog

# facecrop.sh
# move cropping area if cropping areas intersection between old and current frames is different below INTERSECT_RATIO %
export INTERSECT_RATIO=90
